<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fyp.lucapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_logo_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_logo_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lucapp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".Views.DoctorDetailsActivity"
            android:parentActivityName=".Main" />

        <activity
            android:name=".Views.CalenderActivity"
            android:parentActivityName=".Views.DoctorDetailsActivity" />

        <activity
            android:name=".Main"
            android:parentActivityName=".Views.LoginActivity" />

        <activity
            android:name=".Views.Registration.RegisterPatientDetails"
            android:parentActivityName=".Views.LoginActivity" />

        <activity
            android:name=".Views.Registration.RegisterPatientContact"
            android:parentActivityName=".Views.Registration.RegisterPatientDetails" />

        <activity
            android:name=".Views.Registration.RegisterPatientImage"
            android:parentActivityName=".Views.Registration.RegisterPatientDetails" />


        <!-- ForgetPassword Activities -->
        <activity
            android:name=".Views.ForgetPassword.FPEnterPassword"
            android:parentActivityName=".Views.ForgetPassword.FPEnterCode" />

        <activity
            android:name=".Views.ForgetPassword.FPEnterCode"
            android:parentActivityName=".Views.ForgetPassword.FPEnterEmail" />

        <activity
            android:name=".Views.ForgetPassword.FPEnterEmail"
            android:parentActivityName=".Views.LoginActivity" />


        <!-- Settings Activities -->
        <activity
            android:name=".Views.Settings.EditProfileActivity"
            android:parentActivityName=".Main" />

        <!--        <activity-->
        <!--            android:name=".Views.LoginActivity"-->
        <!--            android:parentActivityName=".Views.SplashActivity" />-->


        <activity
            android:name=".Views.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--        <activity-->
        <!--            android:name=".Views.SplashActivity"-->
        <!--            android:exported="true">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->
        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->

        <receiver android:name=".Helper.AlarmReceiver" />

    </application>


</manifest>